/* .viz-container {
  height: 100%;
  width: 100%;
  background: #61dafb;
}

.viz-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
} */

.viz-container {
  height: 100%;
  width: 100%;
  background: #61dafb;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

.viz-bar {
  width: 10px;
  display: flex;
  margin: 0 1px;
}
